[defaults]
# Include local roles directory
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles

# Reduce verbosity of warnings
deprecation_warnings = False
command_warnings = False

[inventory]
# Disable host key checking for dynamic inventories
enable_plugins = host_list, script, auto, yaml, ini, toml
