---
- name: Validate field content repository URL is provided
  ansible.builtin.fail:
    msg: "ocp4_workload_field_content_gitops_repo_url is required but not provided"
  when: ocp4_workload_field_content_gitops_repo_url == "" or ocp4_workload_field_content_gitops_repo_url is not defined

- name: Set _ocp4_workload_field_content_deployer_values
  ansible.builtin.set_fact:
    _ocp4_workload_field_content_deployer_values:
      deployer:
        domain: "{{ openshift_cluster_ingress_domain }}"
        apiUrl: "{{ openshift_api_url }}"

- name: Debug _ocp4_workload_field_content_deployer_values
  ansible.builtin.debug:
    msg: "{{ _ocp4_workload_field_content_deployer_values | to_yaml }}"

- name: Create field content ArgoCD application
  kubernetes.core.k8s:
    state: present
    template: application.yaml.j2

- name: Verify ArgoCD application was accepted
  kubernetes.core.k8s_info:
    api_version: argoproj.io/v1alpha1
    kind: Application
    name: field-content
    namespace: "{{ ocp4_workload_field_content_namespace }}"
  register: argocd_field_content
  retries: 6
  delay: 10
  until:
  - argocd_field_content.resources | length > 0
  failed_when: argocd_field_content.resources | length == 0
