{{- if .Values.namespace.create }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    {{- include "ansible-runner.labels" . | nindent 4 }}
    demo.redhat.com/application: "ansible-runner"
  annotations:
    argocd.argoproj.io/sync-wave: "0"
{{- end }}
